<% include header %>

<% if(lots.tickets.length === 0) { %><p>No tickets found!</p><% } else { %>
<div class="lots">
  <table>
    <thead>
      <tr>
        <td>Tag</td>
        <td class="id"></td>
        <td>Comment</td>
        <td class="fileHeader">File</td>
        <td>Line</td>
        <% if(lots.havePriority) { %>
        <td class="priorityHead">Priority</td>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% lots.tickets.forEach(function(ticket){ %>
      <tr <% if(ticket.order.group === 1) { %>class="tagGroup"<% } %>>
        <% if(ticket.order.group === 1) { %>
        <td class="tag" rowspan="<%= lots.tags[ticket.tag] %>"><h2><%= ticket.tag %></h2></td>
        <% } %>
        <td class="order"><a href="/view/<%= lots.basename %>/<%= ticket.file %>#L<%= ticket.line %>" class="hifile"><%= ticket.order.total %></a></td>
        <td class="comment"><a href="/view/<%= lots.basename %>/<%= ticket.file %>#L<%= ticket.line %>" class="hifile"><%= ticket.comment %></a></td>
        <td class="file"><a href="/view/<%= lots.basename %>/<%= ticket.file %>#L<%= ticket.line %>" class="hifile"><%= ticket.file %></a></td>
        <td class="line"><a href="/view/<%= lots.basename %>/<%= ticket.file %>#L<%= ticket.line %>" class="hifile"><%= ticket.line %></a></td>
        <% if(lots.havePriority) { %>
        <td class="priority p<%= ticket.priority %>"><a href="/view/<%= lots.basename %>/<%= ticket.file %>#L<%= ticket.line %>" class="hifile"><% if(ticket.priority >= 0){ %><%= ticket.priority %><% } else { %><span class="pnone">none</span><% } %></a></td>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% } %>
<% include footer %>
